#searchresult {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6.9vh;
}

#topbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#searchresult-deck {
    padding-top: 15rem;
}
#searchresult .card {
    width: 300px;
}

.checked {
    color: #BA943B
}

.sticky2 {
    position: fixed;
    background-color: white;
    z-index: 98;
}